.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin-bottom: 20px;
    margin-right: 10px;
    /* border-radius: 20px; */
    /* background-color: #33a06b; */
    /* border: 1px solid white; */
    cursor: pointer;
    /* filter: drop-shadow(5px 5px 10px #000); */
}
.pizzaimage{
  border-radius: 50%;
  border: 2px solid white;
  filter: drop-shadow(5px 5px 10px #555);

}
.title{
    font-size: 30px;
    font-weight: bold;
    color: #dfb14f;
    text-align: center;
}
.price{
    font-size: 28px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc{
    text-align: center;
    color: #333;
    font-size: 24px;
}

@media screen and (min-width:640px) {
    .container {
      width: 100%;
    }
    
  }
/* md */
@media screen and (min-width:768px) {
    .container {
        width: 50%;
      }
    .title{
        font-size: 18px;
    }
  }
/* lg */
@media screen and (min-width:1024px) {
    .container {
        width: 35%;
    }
  }
  