.container{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.left{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgcontainer{
    width: 80%;
    height: 100%;
    position: relative;
}
.icon{
    margin-right: 5px;
    color: #b7903c;
}
.sizes{
    width: 50%;
    display: flex;
    padding: 8px;
    justify-content:space-between;
}
.size{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
}
.size{
    font-size: 25px;
}
.size:nth-child(2){
    font-size: 30px;
}
.size:last-child{
    font-size: 40px;
}
.number{
    font-size: 16px;
}
.price{
    color: #019f52;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}
.types{
    display: flex;
    justify-content: space-between;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.quantity{
    width: 70px;
    padding: 10px;
    margin-top: 20px;
}
.button{
    margin-left: 10px;
    background-color: #019f52;
    color: white;
    font-size: 20px;
    border: none;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}
.add{
    margin-top: 30px;
    padding: 10px;
}
.desc{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #019f52;
}

@media screen and (min-width:640px) {
    
    
  }
/* md */
@media screen and (min-width:768px) {
    .container {
        flex-direction: row;
    }
    .imgcontainer{
        height: 100%;
    }
    .right{
        align-items: flex-start;
    justify-content: start;
    margin-left: 5px;
    }
    .desc{
        text-align: start;
    }
  }
/* lg */
@media screen and (min-width:1024px) {
    
  }